:root{
    --branco-principal:#ffffff;
    --cinza-secundario: #C0c0c0;
    --botao-azul:#167bf7;
    --cor-de-fundo:#000000;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: var(--cor-de-fundo);
    color: var(--branco-principal);
    
    
}